body {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.container {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px black solid;
    padding: 4px;
    border-radius: 8px;
    margin: auto;
}
.holding-cell {
    display: flex;
    border: 1px rgb(255, 0, 0) solid;
    padding: 4px;
    border-radius: 8px;
    margin: 10px;
}
.navbar {
    box-sizing: border-box;
    border: 1px solid rgb(38, 0, 255);
    padding: 6px;
    display: inline-flex;
    margin: 10px;
}
.nav {
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
    margin: 2px;
    background-color: rgb(151, 192, 133);
}
.search-col{
    box-sizing: border-box;
    width: 70%;
    margin: 1%;
    padding: 10px;
    border: solid 1px black;
    border-radius: 4px;
}
.nutrition-col{
    box-sizing: border-box;
    width: 25%;
    margin: 1%;
    padding: 6px;
    border: solid 1px black;
    border-radius: 4px;
}
table {
    width: 100%;
}
tr {
    width: 100%;
    border-bottom: 1px solid black;

}
.nute-value {
    text-align: right;
    background-color: white;
}
.nute-label{
    width: 70%;
    background-color: white;
}
.recipe-row {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    border: 1px black solid;
    padding: 4px;
}
.ingredients {
    display: inline-flex;
}
.instructions {
    
    display: inline-flex;
    padding: 10px;

}
.nav-display {
    margin: auto;
    padding: 4px;
    border: black solid 1px;
    border-radius: 4px;
    min-height: 300px;
}
.choices {
    box-sizing: border-box;
    padding: 10px 10px 5px 10px;
    width: 100%;
    border: 1px solid rgb(22, 100, 218);
    border-radius: 4px;
    background-color: rgb(255, 200, 137);
    margin: auto;

}
.tester{
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
}
.choice-img {
    width: 45vmax;
    height: 35vmax;
    background-color: white;
    border: 1px black solid;
    border-radius: 25%;
    display: flex;
    margin: auto;
    overflow: hidden;
}
.imgArrows {
    width: 6vmax;
    height: 8vmax;
}
a {
    margin: auto;
}
.imgHolder {
    width: 100%;
    height: 100%;
}
.choice-title {
    margin: auto;
    width: 60%;
    padding: 10px;
    font-size: 3vmax;
    text-align: center;
}
input {
    max-width: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 1em;
    background-color: rgb(255, 255, 232);
    padding: 10px;
    margin: 4px;
}

button {
    background-color: bisque;
    border: transparent 2px solid;
    border-radius: 4px;
    outline: none;
    padding: 4px;
    margin: 4px 
}
button:active {
    border: rgb(196, 196, 196) solid 2px;
}
.left-arrow {
    float: left;
}
.right-arrow {
    float: right;
}
.right-arrow:active,
.left-arrow:active {
    opacity: .5;
}
